[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "spec/jasmine"]
	path = spec/jasmine
	url = git://github.com/pivotal/jasmine.git
